.root {
  display: grid;
  place-content: center;
  color: white;
  text-align: center;
}

.city {
  font-weight: 500;
  font-size: 2rem;
}

.temperature {
  position: relative;
  font-weight: 100;
  font-size: 3.75rem;
  line-height: 0.95;
  &::after {
    position: absolute;
    content: "°";
  }
}

.description {
  font-weight: 400;
  font-size: 1rem;
}

.highest-lowest {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}
