:root {
  --card-size: 130px;
}

.root {
  display: grid;
  grid-template-columns: repeat(6, var(--card-size));
  grid-auto-rows: var(--card-size);
  grid-auto-flow: row;
  gap: 1rem;
  justify-self: center;
}

.glass {
  border-radius: 8px;
  background: var(--glass-bg);
  backdrop-filter: blur(45px);
  box-shadow: inset 2px 2px 0px rgba(255, 255, 255, 0.02),
    inset -2px -2px 0px rgba(0, 0, 0, 0.02);
}

.forecast-hourly {
  grid-column: 1 / 5;
}
.forecast-10-day {
  grid-row: 2 / 5;
  grid-column: 1 / 3;
}
.uv-index {
}
.sunset {
}
.wind {
}
.precipitation {
}
.feels-like {
}
.humidity {
}
.visibility {
}
.presure {
}
.precipitation-map {
  grid-column: 5 / -1;
  grid-row: 1 / 4;
}

@media screen and (max-width: 1120px) {
  .root {
    grid-template-columns: repeat(4, var(--card-size));
    grid-auto-rows: var(--card-size);
    grid-auto-flow: row;
  }

  .forecast-10-day {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
  }

  .precipitation-map {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
  }
}

@media screen and (max-width: 768px) {
  .root {
    width: 100%;
    grid-template-columns: repeat(2, 150px);
    grid-auto-rows: 150px;
    gap: 0.5rem;
    grid-auto-flow: row;
    place-content: center;
  }

  .forecast-hourly {
    grid-column: 1 / -1;
  }

  .forecast-10-day {
    grid-column: 1 / -1;
    grid-row: 2 / 5;
  }

  .precipitation-map {
    grid-column: 1 / -1;
    grid-row: 5 / 8;
  }
}
