@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

@property --weather-gradient-top {
  initial-value: rgb(55, 128, 218);
  inherits: false;
  syntax: "<color>";
}

@property --weather-gradient-bottom {
  initial-value: skyblue;
  inherits: false;
  syntax: "<color>";
}

:root {
  --weather-bg: linear-gradient(
    to bottom,
    var(--weather-gradient-top),
    var(--weather-gradient-bottom)
  );
  --glass-bg: rgba(55, 128, 218, 0.531);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* TEMPORARY BG */
  background: var(--weather-bg);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@layer base {
  button {
    appearance: none;
    border: none;
  }
}

@layer fonts {
  .outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
}
